@import 'reset';
@import 'vars';

body {
  font-family: $font;
  font-weight: $text;
  color: $color;
  background-color: $color-alt;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
